---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda?api_key=<EDMUNDS_API_KEY>&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-59.mashery.com
      X-Session:
      - d9bcb47a381d616d4881c2e8ee38696d
    body:
      encoding: UTF-8
      string: '{"id":200001444,"name":"Honda","niceName":"honda","models":[{"id":"Honda_Accord","name":"Accord","niceName":"accord","years":[{"id":100503589,"year":2004}]},{"id":"Honda_CR_V","name":"CR-V","niceName":"cr-v","years":[{"id":100503591,"year":2004}]},{"id":"Honda_Civic","name":"Civic","niceName":"civic","years":[{"id":100503590,"year":2004}]},{"id":"Honda_Element","name":"Element","niceName":"element","years":[{"id":100503592,"year":2004}]},{"id":"Honda_Insight","name":"Insight","niceName":"insight","years":[{"id":100503593,"year":2004}]},{"id":"Honda_Odyssey","name":"Odyssey","niceName":"odyssey","years":[{"id":100503594,"year":2004}]},{"id":"Honda_Pilot","name":"Pilot","niceName":"pilot","years":[{"id":100503595,"year":2004}]},{"id":"Honda_S2000","name":"S2000","niceName":"s2000","years":[{"id":100503596,"year":2004}]}]}'
  recorded_at: Sun, 08 Feb 2015 21:49:43 GMT
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda?api_key=<EDMUNDS_API_KEY>&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-72.mashery.com
      X-Session:
      - 5b780143e5171833995c97931f48a00e
    body:
      encoding: UTF-8
      string: '{"id":200001444,"name":"Honda","niceName":"honda","models":[{"id":"Honda_Accord","name":"Accord","niceName":"accord","years":[{"id":100503589,"year":2004}]},{"id":"Honda_CR_V","name":"CR-V","niceName":"cr-v","years":[{"id":100503591,"year":2004}]},{"id":"Honda_Civic","name":"Civic","niceName":"civic","years":[{"id":100503590,"year":2004}]},{"id":"Honda_Element","name":"Element","niceName":"element","years":[{"id":100503592,"year":2004}]},{"id":"Honda_Insight","name":"Insight","niceName":"insight","years":[{"id":100503593,"year":2004}]},{"id":"Honda_Odyssey","name":"Odyssey","niceName":"odyssey","years":[{"id":100503594,"year":2004}]},{"id":"Honda_Pilot","name":"Pilot","niceName":"pilot","years":[{"id":100503595,"year":2004}]},{"id":"Honda_S2000","name":"S2000","niceName":"s2000","years":[{"id":100503596,"year":2004}]}]}'
  recorded_at: Mon, 09 Feb 2015 01:14:50 GMT
recorded_with: VCR 2.9.3
