---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda?api_key=kjyydh5s5ee2bc8d648s68tx&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-74.mashery.com
      X-Session:
      - 42e5482118e114ea4f8b3f05fa2690d2
    body:
      encoding: UTF-8
      string: '{"id":200001444,"name":"Honda","niceName":"honda","models":[{"id":"Honda_Accord","name":"Accord","niceName":"accord","years":[{"id":100503589,"year":2004}]},{"id":"Honda_CR_V","name":"CR-V","niceName":"cr-v","years":[{"id":100503591,"year":2004}]},{"id":"Honda_Civic","name":"Civic","niceName":"civic","years":[{"id":100503590,"year":2004}]},{"id":"Honda_Element","name":"Element","niceName":"element","years":[{"id":100503592,"year":2004}]},{"id":"Honda_Insight","name":"Insight","niceName":"insight","years":[{"id":100503593,"year":2004}]},{"id":"Honda_Odyssey","name":"Odyssey","niceName":"odyssey","years":[{"id":100503594,"year":2004}]},{"id":"Honda_Pilot","name":"Pilot","niceName":"pilot","years":[{"id":100503595,"year":2004}]},{"id":"Honda_S2000","name":"S2000","niceName":"s2000","years":[{"id":100503596,"year":2004}]}]}'
  recorded_at: Wed, 14 Jan 2015 01:48:39 GMT
recorded_with: VCR 2.9.3
