---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/civic/2004?api_key=<EDMUNDS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-78.mashery.com
      X-Session:
      - 4c8ea00f90f2f76de9c08f86a832dfef
    body:
      encoding: UTF-8
      string: '{"id":100503590,"year":2004,"styles":[{"id":100344093,"name":"Hybrid
        4dr Sedan (1.3L 4cyl gas/electric hybrid CVT)","submodel":{"body":"Sedan","fuel":"Hybrid","modelName":"Civic
        Hybrid","niceName":"hybrid"},"trim":"Hybrid"},{"id":100344090,"name":"EX 2dr
        Coupe w/Side Airbags (1.7L 4cyl 5M)","submodel":{"body":"Coupe","modelName":"Civic
        Coupe","niceName":"coupe"},"trim":"EX"},{"id":100344089,"name":"EX 2dr Coupe
        (1.7L 4cyl 4A)","submodel":{"body":"Coupe","modelName":"Civic Coupe","niceName":"coupe"},"trim":"EX"},{"id":100344092,"name":"Hybrid
        4dr Sedan (1.3L 4cyl gas/electric hybrid 5M)","submodel":{"body":"Sedan","fuel":"Hybrid","modelName":"Civic
        Hybrid","niceName"[...]
