---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200490520?api_key=<EDMUNDS_API_KEY>&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-72.mashery.com
      X-Session:
      - 4c8ea00f90f2f76de9c08f86a832dfef
    body:
      encoding: UTF-8
      string: '{"make":{"id":200002038,"name":"Acura","niceName":"acura"},"model":{"id":"Acura_TSX","name":"TSX","niceName":"tsx"},"engine":{"id":"200490555","name":"2.4L
        I4 W/AT","equipmentType":"ENGINE","compressionRatio":11.0,"cylinder":4,"size":2.4,"displacement":2354.0,"configuration":"inline","fuelType":"premium
        unleaded (recommended)","horsepower":201,"torque":170,"totalValves":16,"manufacturerEngineCode":"K24Z3","type":"gas","code":"4INAG2.4","compressorType":"NA"},"transmission":{"id":"200490557","name":"5A","equipmentType":"TRANSMISSION","automaticType":"Shiftable
        automatic","transmissionType":"AUTOMATIC","numberOfSpeeds":"5"},"drivenWheels":"front
        wheel drive","numOfDoors":"4","options":[],"colors":[{"category":"Interior","options":[{"id":"200490578","name":"Black
        Leather/Suede","equipmentType":"COLOR","manufactureOptionName":"Ebony","manufactureOptionCode":"EN","colorChips":{"primary":{"r":0,"g":0,"b":0,"hex":"000000"},"secondary":{"r":126,"g":11,"b":22,"hex":"7E0B16"}},"fabricTypes":[{"name":"FABRIC_TYPE_1","value":"leather/suede"}]}]},{"category":"Exterior","options":[{"id":"200490572","name":"Silver
        Moon","equipmentType":"COLOR","manufactureOptionName":"Silver Moon","manufactureOptionCode":"SA/SB","colorChips":{"primary":{"r":155,"g":155,"b":155,"hex":"9B9B9B"}},"fabricTypes":[]},{"id":"200490575","name":"Crystal
        Black Pearl","equipmentType":"COLOR","manufactureOptionName":"Crystal Black
        Pearl","manufactureOptionCode":"BK/BV","colorChips":{"primary":{"r":7,"g":7,"b":7,"hex":"070707"}},"fabricTypes":[]},{"id":"200490573","name":"Milano
        Red","equipmentType":"COLOR","manufactureOptionName":"Milano Red","manufactureOptionCode":"RE","colorChips":{"primary":{"r":130,"g":12,"b":12,"hex":"820C0C"}},"fabricTypes":[]},{"id":"200490571","name":"Bellanova
        White Pearl","equipmentType":"COLOR","manufactureOptionName":"Bellanova White
        Pearl","manufactureOptionCode":"WH/WV","colorChips":{"primary":{"r":234,"g":233,"b":231,"hex":"EAE9E7"}},"fabricTypes":[]}]}],"manufacturerCode":"CU2F8EJW","price":{"baseMSRP":31635.0,"baseInvoice":29760.0,"deliveryCharges":895.0,"usedTmvRetail":25634.0,"usedPrivateParty":24114.0,"usedTradeIn":22099.0,"estimateTmv":false},"categories":{"market":"Luxury","EPAClass":"Compact
        Cars","vehicleSize":"Midsize","primaryBodyType":"Car","vehicleStyle":"Sedan","vehicleType":"Car"},"id":200490520,"name":"Special
        Edition 4dr Sedan (2.4L 4cyl 5A)","year":{"id":200490517,"year":2014},"submodel":{"body":"Sedan","modelName":"TSX
        Sedan","niceName":"sedan"},"trim":"Special Edition","states":["NEW","USED"],"squishVins":["JH4CU2F8EC"],"MPG":{"highway":"31","city":"22"}}'
  recorded_at: Mon, 09 Feb 2015 02:18:57 GMT
- request:
    method: get
    uri: https://api.edmunds.com/v1/api/vehiclephoto/service/findphotosbystyleid?api_key=<EDMUNDS_API_KEY>&styleId=200490520
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
      X-Session:
      - 58b38764c2b92f8b3408f3f48a8cfce6
    body:
      encoding: UTF-8
      string: '[{"children":[],"id":"dam/photo/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1","site":"dam","authorNames":["American
        Honda Motor Company, Inc."],"captionTranscript":"2013 Acura TSX Special Edition
        Sedan Rear Badge","type":"PHOTOS","subType":"exterior","shotTypeAbbreviation":"RBDG","photoSrcs":["/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_815.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_423.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_131.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_276.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_196.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_175.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_396.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_600.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_2048.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_87.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_150.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_1600.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_717.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_300.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_400.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_98.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_185.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_rbdg_oem_1_500.jpg"],"source":"OEM","vdpOrder":1},{"children":[],"id":"dam/photo/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_f_oem_1","site":"dam","authorNames":["American
        Honda Motor Company, Inc."],"captionTranscript":"2013 Acura TSX Special Edition
        Sedan Exterior","type":"PHOTOS","subType":"exterior","shotTypeAbbreviation":"F","photoSrcs":["/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_f_oem_1_2048.jpg","/acura/tsx/2013/oem/2013_acura_tsx_sedan_special-edition_f_oem_1_196.jpg","/acura/tsx/2013/oem/20[...]
