---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/v1/api/vehiclephoto/service/findphotosbystyleid?api_key=<EDMUNDS_API_KEY>&styleId=100344072
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-66.mashery.com
      X-Session:
      - 23d2b3b36777608484c0d75ebd3a5dd4
    body:
      encoding: UTF-8
      string: '[{"children":[],"id":"dam/photo/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1","site":"dam","authorNames":["American
        Honda Motor Company, Inc."],"captionTranscript":"2003 Honda Civic EX Sedan
        Cargo Area Shown","type":"PHOTOS","subType":"interior","shotTypeAbbreviation":"CARGO","photoSrcs":["/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_300.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_87.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_175.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_276.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_396.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_400.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_423.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_150.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_131.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_185.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_500.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_98.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_cargo_oem_1_196.jpg"],"source":"OEM","vdpOrder":13},{"children":[],"id":"dam/photo/honda/civic/2004/oem/2004_honda_civic_sedan_ex_g_oem_1","site":"dam","authorNames":["American
        Honda Motor Company, Inc."],"captionTranscript":"2004 Honda Civic EX Sedan
        Gauge Cluster","type":"PHOTOS","subType":"interior","shotTypeAbbreviation":"G","photoSrcs":["/honda/civic/2004/oem/2004_honda_civic_sedan_ex_g_oem_1_300.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_g_oem_1_400.jpg","/honda/civic/2004/oem/2004_honda_civic_sedan_ex_g_oem_1[...]
