---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/100344072?api_key=<EDMUNDS_API_KEY>&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-70.mashery.com
      X-Session:
      - 16d4dfa368fcbe75d97bcafed1503500
    body:
      encoding: UTF-8
      string: '{"make":{"id":200001444,"name":"Honda","niceName":"honda"},"model":{"id":"Honda_Civic","name":"Civic","niceName":"civic"},"engine":{"id":"200252420","name":"Engine","equipmentType":"ENGINE","compressionRatio":9.9,"cylinder":4,"size":1.7,"displacement":1668.0,"configuration":"inline","fuelType":"regular
        unleaded","horsepower":127,"torque":114,"totalValves":16,"type":"gas","code":"4INAG1.7","compressorType":"NA"},"transmission":{"id":"200252421","name":"5M","equipmentType":"TRANSMISSION","transmissionType":"MANUAL","numberOfSpeeds":"5"},"drivenWheels":"front
        wheel drive","numOfDoors":"4","options":[],"colors":[{"category":"Interior","options":[{"id":"200252237","name":"Ivory","equipmentType":"COLOR","manufactureOptionName":"Ivory","manufactureOptionCode":"IV","colorChips":{"primary":{"r":183,"g":174,"b":155,"hex":"B7AE9B"}},"fabricTypes":[]},{"id":"200252236","name":"Gray","equipmentType":"COLOR","manufactureOptionName":"Gray","manufactureOptionCode":"GR","colorChips":{"primary":{"r":134,"g":143,"b":142,"hex":"868F8E"}},"fabricTypes":[]}]},{"category":"Exterior","options":[{"id":"200252240","name":"Radiant
        Ruby Pearl","equipmentType":"COLOR","manufactureOptionName":"Radiant Ruby
        Pearl","manufactureOptionCode":"R-518P","colorChips":{"primary":{"r":204,"g":0,"b":0,"hex":"CC0000"}},"fabricTypes":[]},{"id":"200252241[...]
