---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/101404908?api_key=<EDMUNDS_API_KEY>&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-71.mashery.com
    body:
      encoding: UTF-8
      string: '{"make":{"id":200001769,"name":"Aston Martin","niceName":"aston-martin"},"model":{"id":"Aston_Martin_DB9","name":"DB9","niceName":"db9"},"engine":{"id":"200392081","name":"Engine","equipmentType":"ENGINE","compressionRatio":10.9,"cylinder":12,"size":5.9,"displacement":5935.0,"configuration":"V","fuelType":"premium
        unleaded (required)","horsepower":470,"torque":443,"totalValves":48,"type":"gas","code":"12VNAG5.9","compressorType":"NA"},"transmission":{"id":"200392082","name":"6A","equipmentType":"TRANSMISSION","automaticType":"Shiftable
        automatic","transmissionType":"AUTOMATIC","numberOfSpeeds":"6"},"drivenWheels":"rear
        wheel drive","numOfDoors":"2","options":[{"category":"Interior","options":[{"id":"200392042","name":"Smokers
        Pack","description":"Ashtray; Cigar lighter","equipmentType":"OPTION","price":{"baseMSRP":570.0,"estimateTmv":false},"manufactureOptionName":"Smokers
        Pack","manufactureOptionCode":"--"},{"id":"200392035","name":"Second Glass
        Key","description":"Additional key fob constructed of stainless steel and
        sapphire","equipmentType":"OPTION","price":{"baseMSRP":750.0,"estimateTmv":false},"manufactureOptionName":"Second
        Glass Key","manufactureOptionCode":"--"},{"id":"200392053","name":"Leather
        Key Fob Pouch","equipmentType":"OPTION","price":{"baseMSRP":73.0,"estimateTmv":false},"manufactureOptionName":"Leather
        Key Fob Pouch","manufactureOption[...]
