---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/vins/2G1FC3D33C9165616?api_key=<EDMUNDS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-62.mashery.com
      X-Session:
      - 05a36da31f79f98266fad470f12ef82f
    body:
      encoding: UTF-8
      string: '{"make":{"id":200000404,"name":"Chevrolet","niceName":"chevrolet"},"model":{"id":"Chevrolet_Camaro","name":"Camaro","niceName":"camaro"},"transmission":{"id":"200380856","name":"6M","equipmentType":"TRANSMISSION","availability":"STANDARD","transmissionType":"MANUAL","numberOfSpeeds":"6"},"drivenWheels":"rear
        wheel drive","numOfDoors":"2","options":[{"category":"Additional Fees","options":[{"id":"200381496","name":"Northeast
        Emissions","description":"Arizona, Connecticut, Maine, Maryland, Massachusetts,
        New Jersey, New York, Oregon, Pennsylvania, Rhode Island, Vermont and Washington
        state requirements.","equipmentType":"OPTION","availability":"All"}]},{"category":"Package","options":[{"id":"200381513","name":"RS
        Package","description":"20\" x 8.0\" front and 20\" x 9.0\" rear flangeless,
        painted aluminum wheels with Midnight Silver finish; P245/45R20 front and
        P275/40R20 rear summer only tires; Body-color roof ditch molding (coupe only);
        High intensity discharge headlamps; Body-colored shark-fin antenna (coupe
        only)","equipmentType":"OPTION","availability":"LT"}]},{"category":"Exterior","options":[{"id":"200381492","name":"Compact
        Spare Tire And Wheel","description":"Deletes tire sealant and inflator kit.","equipmentType":"OPTION","availability":"All
        Except SS"}]}],"colors":[{"category":"Interior","options":[{"id":"200381103","name":"Black","equipmentType":"COLOR","availability":"USED"}]},{"category":"Exterior","options":[{"id":"200381113","name":"Silver
        Ice Metallic","equipmentType":"COLOR","availability":"USED"}]},{"category":"Roof","options":[{"id":"200381095","name":"Black","equipmentType":"COLOR","availability":"USED"}]}],"manufacturerCode":"1EH67","price":{"baseMSRP":34180.0,"baseInvoice":32813.0,"deliveryCharges":900.0,"usedTmvRetail":20557.0,"usedPrivateParty":19214.0,"usedTradeIn":17699.0,"estimateTmv":false,"tmvRecommendedRating":0},"categories":{"market":"Performance","EPAClass":"Compact
        Cars","vehicleSize":"Midsize","primaryBodyType":"Car","vehicleStyle":"Convertible","vehicleType":"Car"},"vin":"2G1FC3D33C9165616","squishVin":"2G1FC3D3C9","years":[{"id":100531911,"year":2012,"styles":[{"id":101395591,"name":"LT
        2dr Convertible w/2LT (3.6L 6cyl 6M)","submodel":{"body":"Convertible","modelName":"Camaro
        Convertible","niceName":"convertible"},"trim":"LT"}]}],"matchingType":"SQUISHVIN","MPG":{"highway":"28","city":"17"}}'
  recorded_at: Sun, 08 Feb 2015 21:49:38 GMT
recorded_with: VCR 2.9.3
