---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/aston_martin?api_key=<EDMUNDS_API_KEY>&year=1800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-67.mashery.com
      X-Session:
      - 5b780143e5171833995c97931f48a00e
    body:
      encoding: UTF-8
      string: '{"status":"NOT_FOUND","errorType":"RESOURCE_NOT_FOUND","message":"Make
        with name ''aston_martin'' is not found","moreInfoUrl":"http://developer.edmunds.com"}'
  recorded_at: Sun, 08 Feb 2015 21:49:37 GMT
recorded_with: VCR 2.9.3
