---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/aston_martin/db9/2012?api_key=kjyydh5s5ee2bc8d648s68tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-58.mashery.com
      X-Session:
      - 071908b224bb21ac2098d1eb6d6ab37a
    body:
      encoding: UTF-8
      string: '{"id":100537350,"year":2012,"styles":[{"id":101404904,"name":"2dr Coupe
        (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9 Coupe","niceName":"coupe"},"trim":"Base"},{"id":101404905,"name":"Luxury
        Edition 2dr Coupe (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9
        Coupe","niceName":"coupe"},"trim":"Luxury Edition"},{"id":101404906,"name":"Sports
        Edition 2dr Coupe (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9
        Coupe","niceName":"coupe"},"trim":"Sports Edition"},{"id":101404907,"name":"Volante
        2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante"},{"id":101404908,"name":"Volante
        Luxury Edition 2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante Luxury Edition"},{"id":101404909,"name":"Volante
        Sports Edition 2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante Sports Edition"}]}'
  recorded_at: Sun, 11 Jan 2015 07:04:21 GMT
recorded_with: VCR 2.9.3
