---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/civic/2004?api_key=<EDMUNDS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-72.mashery.com
      X-Session:
      - 4c8ea00f90f2f76de9c08f86a832dfef
    body:
      encoding: UTF-8
      string: '{"id":100503590,"year":2004,"styles":[{"id":100344093,"name":"Hybrid
        4dr Sedan (1.3L 4cyl gas/electric hybrid CVT)","submodel":{"body":"Sedan","fuel":"Hybrid","modelName":"Civic
        Hybrid","niceName":"hybrid"},"trim":"Hybrid"},{"id":100344090,"name":"EX 2dr
        Coupe w/Side Airbags (1.7L 4cyl 5M)","submodel":{"body":"Coupe","modelName":"Civic
        Coupe","niceName":"coupe"},"trim":"EX"},{"id":100344089,"name":"EX 2dr Coupe
        (1.7L 4cyl 4A)","submodel":{"body":"Coupe","modelName":"Civic Coupe","niceName":"coupe"},"trim":"EX"},{"id":100344092,"name":"Hybrid
        4dr Sedan (1.3L 4cyl gas/electric hybrid 5M)","submodel":{"body":"Sedan","fuel":"Hybrid","modelName":"Civic
        Hybrid","niceName"[...]
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda?api_key=<EDMUNDS_API_KEY>&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-77.mashery.com
      X-Session:
      - d9bcb47a381d616d4881c2e8ee38696d
    body:
      encoding: UTF-8
      string: '{"id":200001444,"name":"Honda","niceName":"honda","models":[{"id":"Honda_Accord","name":"Accord","niceName":"accord","years":[{"id":100503589,"year":2004}]},{"id":"Honda_CR_V","name":"CR-V","niceName":"cr-v","years":[{"id":100503591,"year":2004}]},{"id":"Honda_Civic","name":"Civic","niceName":"civic","years":[{"id":100503590,"year":2004}]},{"id":"Honda_Element","name":"Element","niceName":"element","years":[{"id":100503592,"year":2004}]},{"id":"Honda_Insight","name":"Insight","niceName":"insight","years":[{"id":100503593,"year":2004}]},{"id":"Honda_Odyssey","name":"Odyssey","niceName":"odyssey","years":[{"id":100503594,"year":2004}]},{"id":"Honda_Pilot","name":"Pilot","niceName":"pilot","years":[{"id":100503595,"year":2004}]},{"id":"Honda_S2000","name":"S2000","niceName":"s2000","years":[{"id":100503596,"year":2004}]}]}'
  recorded_at: Sun, 08 Feb 2015 21:52:58 GMT
recorded_with: VCR 2.9.3
