---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/aston_martin?api_key=<EDMUNDS_API_KEY>&year=2012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-59.mashery.com
      X-Session:
      - 1c0637092d7bb3fde2bea72a4bd99a48
    body:
      encoding: UTF-8
      string: '{"id":200001769,"name":"Aston Martin","niceName":"aston-martin","models":[{"id":"Aston_Martin_DB9","name":"DB9","niceName":"db9","years":[{"id":100537350,"year":2012}]},{"id":"Aston_Martin_DBS","name":"DBS","niceName":"dbs","years":[{"id":100532430,"year":2012}]},{"id":"Aston_Martin_Rapide","name":"Rapide","niceName":"rapide","years":[{"id":100537349,"year":2012}]},{"id":"Aston_Martin_V12_Vantage","name":"V12
        Vantage","niceName":"v12-vantage","years":[{"id":100537351,"year":2012}]},{"id":"Aston_Martin_V8_Vantage","name":"V8
        Vantage","niceName":"v8-vantage","years":[{"id":100537352,"year":2012}]},{"id":"Aston_Martin_Virage","name":"Virage","niceName":"virage","years":[{"id":100534789,"year":2012}]}]}'
  recorded_at: Sun, 08 Feb 2015 21:49:37 GMT
recorded_with: VCR 2.9.3
