---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/aston_martin?api_key=kjyydh5s5ee2bc8d648s68tx&year=1800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
      X-Session:
      - dad5644335ddf0f0dede129fff5d2d9f
    body:
      encoding: UTF-8
      string: '{"id":200001769,"name":"Aston Martin","niceName":"aston-martin","models":[]}'
  recorded_at: Sun, 11 Jan 2015 05:53:01 GMT
recorded_with: VCR 2.9.3
