---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/v1/api/vehiclephoto/service/findphotosbystyleid?api_key=<EDMUNDS_API_KEY>&styleId=101404908
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-72.mashery.com
      X-Session:
      - e388b760bf53791ddb1092580c5c7ee1
    body:
      encoding: UTF-8
      string: '[{"children":[],"id":"dam/photo/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3","site":"dam","authorNames":["Aston
        Martin Motor Company"],"captionTranscript":"2012 Aston Martin DB9 Convertible
        Center Console","type":"PHOTOS","subType":"interior","shotTypeAbbreviation":"CC","photoSrcs":["/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_175.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_400.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_87.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_196.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_276.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_185.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_423.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_150.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_500.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_131.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_98.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_396.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_1600.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_717.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_815.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_300.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_3_600.jpg"],"source":"OEM","vdpOrder":3},{"children":[],"id":"dam/photo/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_1","site":"dam","authorNames":["Aston
        Martin Motor Company"],"captionTranscript":"2012 Aston Martin DB9 Convertible
        Center Console","type":"PHOTOS","subType":"interior","shotTypeAbbreviation":"CC","photoSrcs":["/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_1_396.jpg","/aston-martin/db9/2012/oem/2012_aston-martin_db9_convertible_volante_cc_oem_[...]
