---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/aston_martin/db9/2012?api_key=<EDMUNDS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-75.mashery.com
    body:
      encoding: UTF-8
      string: '{"id":100537350,"year":2012,"styles":[{"id":101404908,"name":"Volante
        Luxury Edition 2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante Luxury Edition"},{"id":101404907,"name":"Volante
        2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante"},{"id":101404906,"name":"Sports
        Edition 2dr Coupe (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9
        Coupe","niceName":"coupe"},"trim":"Sports Edition"},{"id":101404905,"name":"Luxury
        Edition 2dr Coupe (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9
        Coupe","niceName":"coupe"},"trim":"Luxury Edition"},{"id":101404909,"name":"Volante
        Sports Edition 2dr Convertible (5.9L 12cyl 6A)","submodel":{"body":"Convertible","modelName":"DB9
        Convertible","niceName":"convertible"},"trim":"Volante Sports Edition"},{"id":101404904,"name":"2dr
        Coupe (5.9L 12cyl 6A)","submodel":{"body":"Coupe","modelName":"DB9 Coupe","niceName":"coupe"},"trim":"Base"}]}'
  recorded_at: Tue, 17 Feb 2015 23:52:32 GMT
recorded_with: VCR 2.9.3
