---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/honda/civic/?api_key=kjyydh5s5ee2bc8d648s68tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-62.mashery.com
      X-Session:
      - 05a36da31f79f98266fad470f12ef82f
    body:
      encoding: UTF-8
      string: '{"id":"Honda_Civic","name":"Civic","niceName":"civic","years":[{"id":2148,"year":1990,"styles":[{"id":3884,"name":"4dr
        Wagon","submodel":{"body":"Wagon","modelName":"Civic Wagon","niceName":"wagon"},"trim":"Base"},{"id":3885,"name":"4dr
        Wagon 4WD","submodel":{"body":"Wagon","modelName":"Civic Wagon","niceName":"wagon"},"trim":"Base"},{"id":3881,"name":"Si
        2dr Hatchback","submodel":{"body":"Hatchback","modelName":"Civic Hatchback","niceName":"hatchback"},"trim":"Si"},{"id":3883,"name":"2dr
        Hatchback","submodel":{"body":"Hatchback","modelName":"Civic Hatchback","niceName":"hatchback"},"trim":"Base"},{"id":3878,"name":"LX
        4dr Sedan","submodel":{"body":"Sedan","modelNam[...]
