<div class="row">
  <%= form_tag do %>
    <div class="form-group col-lg-3">
      <%= label_tag :vin, "Search by VIN", class:"sr-only" %>
      <%= text_field_tag :vin, "", class:"form-control" %>
    </div>
    <div class="col-lg-3">
      <%= submit_tag "Lookup Car by VIN", class:"btn btn-primary", id:"submit-vin", disabled:true %>
    </div>
  <% end %>
</div>
