<h1>New Service Record</h1>
<%= form_for @record, url:user_car_records_path(params[:user_id], params[:car_id]) do |f| %>
  <%= render partial:'records/form', locals: { f:f } %>
  <div class="row">
    <%= f.submit 'Add Record', class:'btn btn-primary' %>
  </div>
<% end %>
