---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/makes?api_key=kjyydh5s5ee2bc8d648s68tx&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-77.mashery.com
    body:
      encoding: UTF-8
      string: '{"makes":[{"id":200002038,"name":"Acura","niceName":"acura","models":[{"id":"Acura_MDX","name":"MDX","niceName":"mdx","years":[{"id":100503653,"year":2004}]},{"id":"Acura_NSX","name":"NSX","niceName":"nsx","years":[{"id":100503652,"year":2004}]},{"id":"Acura_RL","name":"RL","niceName":"rl","years":[{"id":100502994,"year":2004}]},{"id":"Acura_RSX","name":"RSX","niceName":"rsx","years":[{"id":100503651,"year":2004}]},{"id":"Acura_TL","name":"TL","niceName":"tl","years":[{"id":100502993,"year":2004}]},{"id":"Acura_TSX","name":"TSX","niceName":"tsx","years":[{"id":100503100,"year":2004}]}]},{"id":200001769,"name":"Aston
        Martin","niceName"[...]
