<div class="row">
  <h1><%= "#{@user.name.possessive} Garage" %></h1>
  <ol>
    <% @cars.each do |car| %>
      <%= render 'car_data', car:car %>
    <% end %>
  </ol>
</div>
<div class="row">
  <%= link_to 'Add New Car', new_user_car_path(user:@user), class:"btn btn-primary btn-xs" %>
</div>
