<div class="btn-group" style="align:right;">
  <%= current_user ? link_to("Profile", user_path(current_user), class:"btn btn-default") :
      link_to("Login", new_user_session_path, class:"btn btn-default") %>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% if current_user %>
      <li><%= link_to "Add Car", new_user_car_path(current_user.id) %></li>
    <% end %>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
